<header>
  <h2>Subqueries</h2>
</header>

<p>
  It's also possible to create subqueries in SPARQL, where queries are nested
  and the result of inner queries can be used in outer queries. Note that inner
  queries can only ever be `SELECT` queries, due to the way SPARQL variable
  scoping works.
</p>

<p>
  In this example, we use a subquery to find the sum total of all book prices,
  then we get book prices per genre and calculate what the ratio is of that
  genre's price.
</p>

<Yasgui @defaultGraph="http://mu.semte.ch/graphs/books/" @defaultQuery='
PREFIX : <http://mu.semte.ch/graphs/books/>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
SELECT ?genre (SUM(?p) AS ?price) (SUM(?p) / xsd:float(SAMPLE(?totalPrice)) * 100 AS ?ratio)
WHERE {
  ?book :genre ?genre ;
        :price ?p .
  {
    SELECT (SUM(?p) AS ?totalPrice)
    WHERE {
      ?book :price ?p .
    }
  }
}
GROUP BY ?genre
' />